version: '3.8'

networks:
  dev-network:
    external: true

services:
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nodejs-dev
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - /:/host
      - ~/.npm:/root/.npm
      - ~/.yarn:/root/.yarn
      - ~/.config/yarn:/root/.config/yarn
    environment:
      - TZ=${TZ:-Asia/Jakarta}
      - NODE_ENV=${NODE_ENV:-development}
      - VITE_HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    tty: true
    stdin_open: true
    working_dir: /workspace
